@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background: #6cb8dd;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h2 {
    text-align: center;
    color: #ffff;
    font-size: 20px;

}

.container .btn {
    width: 100%;
    background:#0791d6;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.container .btn:hover {
    cursor: pointer;
    background: #e4dcdc7e;
}

.area_clima{
    background: #eeeaea;
    padding: 50px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    
}